apiKey : "AIzaSyC979HjSm-h0ac-PZjxQHz--icUMJKuGVM" ,
  authDomain : "yankiapp-472b97c4.firebaseapp.com" ,
  projeId : "yankiapp-472b97c4" ,
  depolama kovası : "yankiapp-472b97c4.firebasestorage.app" ,
  messagingSenderId : "832552007678" ,
  uygulama kimliği : "1:832552007678:web:319ee97b58adfd2ecbb2af"